*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center ;
    justify-content:space-around;
}
.content{
    background-color: rgb(7, 172, 201);
    height: 120px;
    width: 150px;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center ;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
